<div class="container">
  <div class="row">
    <p class="lead">This website gives you the pics of the famous cities in the world. Click on the city link in the top to view its amazing pictures</p>
  </div>
</div>